
body {
/*	padding-top: 50px;*/
	margin: 0;
	padding: 50px 0 0 0;
	font-family: 'Droid Serif', serif;
}

.bigger-font {
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Sansita', sans-serif;
}

.nav-appearance {
	background-color: #55BDBC;
}

.nav-font {
	color: #000000;
}

.button-color {
	background-color: #FFFFFF;
	color: #000000;
}
/*.container {
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
}*/

.container-index {
	background: url("images/seefromthesky.jpg") no-repeat center center fixed;
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
}

.content-index {
	background-color: rgba(85,189,188,.6);
	display: inline-block;
	padding: 50px;
	position: absolute;
	right: 33%;
	width: 35%;
	top: 60%;
	border-radius: 5px;
}

.container-about {
	background: url("images/pineapples.jpg") no-repeat center center fixed;
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
}

.content-about {
	background-color: rgba(85,189,188,.6);
	display: inline-block;
	padding: 50px;
	position: absolute;
	right: 65%;
	width: 25%;
	top: 50%;
	border-radius: 5px;
}

.container-contact {
	background: url("images/palms.jpg") no-repeat center center fixed;
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
}

.content-contact {
	background-color: rgba(85,189,188,.8);
	display: inline-block;
	padding: 50px;
	position: absolute;
	right: 25%;
	width: 50%;
	top: 20%;
	border-radius: 5px;
}
